@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: muli, Verdana, sans-serif;
}

@layer components {
    .btn {
        @apply px-4 py-3 bg-primary text-white rounded-sm;
    }

    .active-filter {
        @apply bg-primary text-white shadow;
    }
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.60);
}

.bg-about {
    background-image: url("../images/about-bg.png");
}

.bg-gallery {
    background-image: url("../images/gallery-backgroud.svg");
}

.bg-attending {
    background-image: url("../images/attending-bg.jpg");
}

.slider-shape  {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.slider-shape  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
}

.slider-shape  .shape-fill {
    fill: #f9fafb;
}
