@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: muli, Verdana, sans-serif;
}

@layer components {
    .btn {
        @apply px-4 py-3 bg-primary text-white rounded-sm;
    }

    .active-filter {
        @apply bg-primary text-white shadow;
    }
}

.bg-about {
    background-image: url("../images/about-bg.png");
}

.bg-attending {
    background-image: url("../images/attending-bg.jpg");
}
